.modal, .modalver2 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal-container {
    background-color: white;
    width: 60%;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    overflow-y: initial !important;
    margin-left: 25%;
    margin-top: 10%;
}

.modal-header {
    background-color: rgb(229, 56, 56);
    height: 130px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 65px;
    color: white;
}

.ti-bag {
    margin: 12px;
}

.close, .closever2 {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding: 15px;
    cursor: pointer;
}

    .close:hover {
        color: black;
        background-color: #ccc;
    }

.modal-body {
    padding: 15px;
    height: 80vh;
    overflow-y: auto;
    max-height: 600px
}

.modal-label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
}

.modal-input {
    padding: 8px;
    width: 100%;
    font-size: 15px;
}

.buy-tickets {
    width: 100%;
    padding: 16px;
    background-color: rgb(229, 56, 56);
    margin: 16px 0;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    cursor: pointer;
}

    .buy-tickets:hover {
        opacity: 0.8;
    }

.modal-footer {
    text-align: right;
    padding: 16px;
    border: none;
}

    .modal-footer a {
        color: #2196f3;
    }

.modal.open {
    display: flex;
}

.modal.close {
    display: none;
}

.modalver2.open {
    display: flex;
}

.modalver2.close {
    display: none;
}